
.star-box{
  padding-top:16px ;
  font-Size: 26px;
}
 @media (max-width:500px){
.star-box{
  padding-top: 0px !important;
 padding-bottom: 0px;
height: 30px;
font-Size: 20px;  
}
 .dv-star-rating{
  height:30px;
} 
 } 